<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body class="w3-animate-opacity items">
    <div class="static-top">
      <% include ../static/partials/navbar.ejs %>

      <header class="jumbotron item-jumbotron">
        <div>
          <h1>Items</h1>

          <p>Add items to your cart and start shopping!</p>

          <p>Each new item added will update to your app instantly.</p>
        </div>
      </header>
    </div>

    <div class="jumbotron select w3-animate-right">
      <div class="select-div">
        <div class="header">
          <h4>Select Items</h4>
        </div>

        <div class="row display">
          <div class="fruit">
            <p>Fruit</p>
            <% allItems.forEach((item) => { %>
              <% if (item.category === "Fruit") { %>
                <form action="/items/<%= item.id %>/create" method="post">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <button type="submit" name="btn" value="<%= item.id %>">Add</button> <%= item.name %>
                    </li>
                  </ul>
                </form>
              <% } %>
            <% }) %>
          </div>

          <div class="meat">
            <p>Meat</p>
            <% allItems.forEach((item) => { %>
              <% if (item.category === "Meat") { %>
                <form action="/items/<%= item.id %>/create" method="post">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <button type="submit" name="btn" value="<%= item.id %>">Add</button> <%= item.name %>
                    </li>
                  </ul>
                </form>
              <% } %>
            <% }) %>
          </div>

          <div class="vegetable">
            <p>Vegetable</p>
            <% allItems.forEach((item) => { %>
              <% if (item.category === "Vegetable") { %>
                <form action="/items/<%= item.id %>/create" method="post">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <button type="submit" name="btn" value="<%= item.id %>">Add</button> <%= item.name %>
                    </li>
                  </ul>
                </form>
              <% } %>
            <% }) %>
          </div>

          <div class="candy">
            <p>Candy</p>
            <% allItems.forEach((item) => { %>
              <% if (item.category === "Candy") { %>
                <form action="/items/<%= item.id %>/create" method="post">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <button type="submit" name="btn" value="<%= item.id %>">Add</button> <%= item.name %>
                    </li>
                  </ul>
                </form>
              <% } %>
            <% }) %>
          </div>
        </div>
      </div>
    </div>

    <div class="jumbotron item-jumbotron w3-animate-left">
      <div class="cart-div">
        <div>
          <p>Your Shopping Cart</p>
        </div>

        <div class="table">
        	<div class="thead">
        		<div class="tr">
        			<div class="td">Id</div>
        			<div class="td">Name</div>
        			<div class="td">Category</div>
        			<div class="td">Price/Unit</div>
        			<div class="td">Quantity</div>
        			<div class="td"></div>
        			<div class="td"></div>
        		</div>
        	</div>

        	<div class="tbody">
            <% allCartItems.forEach((item) => { %>
        		  <form class="tr" method="POST">
                <div class="td"><%= item.id %></div>
                <div class="td"><%= item.name %></div>
                <div class="td"><%= item.category %></div>
                <div class="td"><%= item.price %></div>
                <input type="text" name="itemQuantity" value="<%= item.quantity %>" onkeypress="if (event.keyCode >= 48 && event.keyCode <= 57) {return true} else {return false}" size="6">

                <div class="td action"><button type="submit" name="btn" value="<%= item.id %>" formaction="/carts/<%= item.id %>/update">edit</button></div>

                <div class="td action"><button type="submit" name="btn" value="<%= item.id %>" formaction="/carts/<%= item.id %>/destroy">delete</button></div>
              </form>
            <% }) %>
        	</div>
        </div>
      </div>
    </div>
  </body>
</html>
