<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body class="w3-animate-opacity items">
    <div class="static-top">
      <% include ../static/partials/navbar.ejs %>

      <header class="jumbotron item-jumbotron">
        <div>
          <h1>Items</h1>

          <p>Add items to your cart and start shopping!</p>

          <p>Each new item added will update to your app instantly.</p>
        </div>
      </header>
    </div>

    <div class="jumbotron select w3-animate-right">
      <div class="header">
        <h4>Select Items</h4>
      </div>

      <div class="row display">
        <div class="fruit">
          <p>Fruit</p>
          <% items.forEach((item) => { %>
            <% if (item.category === "Fruit") { %>
              <form action="" method="post">
                <ul class="list-group">
                  <li class="list-group-item">
                    <button type="submit" name="btn" value="<%= item.id %>">Add</button> <%= item.name %>
                  </li>
                </ul>
              </form>
            <% } %>
          <% }) %>
        </div>

        <div class="meat">
          <p>Meat</p>
          <% items.forEach((item) => { %>
            <% if (item.category === "Meat") { %>
              <form action="" method="post">
                <ul class="list-group">
                  <li class="list-group-item">
                    <button type="submit" name="btn" value="<%= item.id %>">Add</button> <%= item.name %>
                  </li>
                </ul>
              </form>
            <% } %>
          <% }) %>
        </div>

        <div class="vegetable">
          <p>Vegetable</p>
          <% items.forEach((item) => { %>
            <% if (item.category === "Vegetable") { %>
              <form action="" method="post">
                <ul class="list-group">
                  <li class="list-group-item">
                    <button type="submit" name="btn" value="<%= item.id %>">Add</button> <%= item.name %>
                  </li>
                </ul>
              </form>
            <% } %>
          <% }) %>
        </div>

        <div class="candy">
          <p>Candy</p>
          <% items.forEach((item) => { %>
            <% if (item.category === "Candy") { %>
              <form action="" method="post">
                <ul class="list-group">
                  <li class="list-group-item">
                    <button type="submit" name="btn" value="<%= item.id %>">Add</button> <%= item.name %>
                  </li>
                </ul>
              </form>
            <% } %>
          <% }) %>
        </div>
      </div>
    </div>

    <div class="jumbotron item-jumbotron w3-animate-left">
      <p>Your Shopping Cart</p>
    </div>
  </body>
</html>
