<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ../static/partials/head.ejs %>
  </head>

  <body class="w3-animate-opacity items">
    <div class="static-top">
      <% include ../static/partials/navbar.ejs %>

      <header class="jumbotron item-jumbotron">
        <div>
          <h1>Items</h1>

          <p>Add items to your cart and start shopping!</p>

          <p>Each new item added will update to your app instantly.</p>
        </div>
      </header>
    </div>

    <div class="jumbotron select w3-animate-right">
      <div class="select-div">
        <div class="header">
          <h4>Select Items</h4>
        </div>

        <div class="row display">
          <div class="fruit">
            <p>Fruit</p>
            <% allItems.forEach((item) => { %>
              <% if (item.category === "Fruit") { %>
                <form action="/items/<%= item.id %>/create" method="post">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <button type="submit" name="btn" value="<%= item.id %>">Add</button> <%= item.name %>
                    </li>
                  </ul>
                </form>
              <% } %>
            <% }) %>
          </div>

          <div class="meat">
            <p>Meat</p>
            <% allItems.forEach((item) => { %>
              <% if (item.category === "Meat") { %>
                <form action="" method="post">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <button type="submit" name="btn" value="<%= item.id %>">Add</button> <%= item.name %>
                    </li>
                  </ul>
                </form>
              <% } %>
            <% }) %>
          </div>

          <div class="vegetable">
            <p>Vegetable</p>
            <% allItems.forEach((item) => { %>
              <% if (item.category === "Vegetable") { %>
                <form action="" method="post">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <button type="submit" name="btn" value="<%= item.id %>">Add</button> <%= item.name %>
                    </li>
                  </ul>
                </form>
              <% } %>
            <% }) %>
          </div>

          <div class="candy">
            <p>Candy</p>
            <% allItems.forEach((item) => { %>
              <% if (item.category === "Candy") { %>
                <form action="" method="post">
                  <ul class="list-group">
                    <li class="list-group-item">
                      <button type="submit" name="btn" value="<%= item.id %>">Add</button> <%= item.name %>
                    </li>
                  </ul>
                </form>
              <% } %>
            <% }) %>
          </div>
        </div>
      </div>
    </div>

    <div class="jumbotron item-jumbotron w3-animate-left">
      <div class="cart-div">
        <div>
          <p>Your Shopping Cart</p>
        </div>

        <div>
          <table class="cart-table">
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Price</th>
              <th>Quantity</th>
            </tr>
            <% allCartItems.forEach((item) => { %>
              <tr>
                <td><%= item.name %></td>
                <td><%= item.category %></td>
                <td><%= item.price %></td>
                <td><%= item.quantity %></td>
              </tr>
            <% }) %>
          </table>
        </div>
      </div>
    </div>
  </body>
</html>
